<main id="main">
    <div class="container center">
        <div class="page-area">
            <pb-article>
                <h1>
                    Stay on track
                </h1>
                <p>
                    Do you know where you are spending your money?
                </p>
            </pb-article>
            <article>
                <h1>Chart</h1>
                <p>
                    <canvas id="pieChart" width="400" height="400"></canvas>
                </p>
            </article>
        </div>
    </div>
</main>